/* DatePicker stilini Material UI ga moslash */
.react-datepicker {
  font-family: "Roboto", sans-serif !important;
  border: 1px solid rgba(var(--palette-grey-500Channel) / 0.2) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  background-color: var(--palette-background-paper) !important;
  color: var(--palette-text-primary) !important;
}

.react-datepicker__header {
  background-color: var(--palette-background-neutral) !important;
  border-bottom: 1px solid rgba(var(--palette-grey-500Channel) / 0.12) !important;
  padding: 8px 0 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--palette-text-primary) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: var(--palette-primary-main) !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: rgba(var(--palette-grey-500Channel) / 0.12) !important;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: var(--palette-primary-main) !important;
}

.react-datepicker__close-icon::after {
  background-color: var(--palette-primary-main);
  color: white;
  border-radius: 50%;
  font-size: 12px;
}
